.root {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "directory" "notes";
    grid-template-columns: 260px auto;
    grid-template-rows: 1fr;
}

.directory {
    grid-area: "directory";
    // background-color: white;
}

.notesContainer {
    grid-area: "notes";
}

.tabsContainer {
    display: flex;
}