.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu {
    // height: 48px;
}

.boardWrapper {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    position: relative;
    background-color: rgb(243, 238, 231);
    box-shadow: 0px 0px 4px inset rgba(109, 85, 7, 0.1);
    border-top-left-radius: 6px;
}

.addButton {
    position: absolute;
    left: calc(100% - 100vw / 2);
    bottom: 16px;
    z-index: 3;

    [class~=MuiIconButton-root] {
        height: 46px;
        width: 46px;
    }
    [class~=MuiSvgIcon-root] {
        font-size: 36px;
    }
}

.pin {
    position: absolute;
    background-color: rgb(255, 246, 230);
    border: 1px solid transparent;
    padding: 6px 8px;
    box-shadow: 0px 0px 12px rgba(7, 21, 58, 0.05);
    z-index: 1;
    border-radius: 2px;

    &[data-state=normal] {
        cursor: default;

        span {
            user-select: none !important;
        }
    }

    &[data-state=edit] {
        border: 1px dashed pink;
        z-index: 2;
        cursor: auto;
    }

    &[data-state=dragging] {
        z-index: 2;

        span {
            user-select: none !important;
        }
    }

    &[class=DraftEditor-root] {
        width: 100%;
        height: 100%;
    }

    h1[data-block="true"] {
        font-weight: bold;
        margin: 0;
        margin-bottom: 6px;
        font-size: 22px;
    }

    h2[data-block="true"] {
        font-weight: 600;
        margin: 0;
        margin-top: 6px;
        margin-bottom: 0px;
        font-size: 18px;
    }

    [data-block="true"] {
        font-size: 16px;
        margin-bottom: 0px;
    }
}

.pinSizer {
    position: absolute;
    width: 1px;
    height: 1px;
    bottom: -200px;
    right: -200px;
}