.root {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;;
    position: relative;
}

.pin {
    position: absolute;
    background-color: rgb(252, 243, 228);
    border: 1px solid transparent;
    padding: 4px;
    box-shadow: 0px 0px 12px rgba(7, 21, 58, 0.05);
    z-index: 1;

    &[data-state=normal] {
        cursor: default;
    }

    &[data-state=edit] {
        border: 1px dashed pink;
        z-index: 2;
        cursor: auto;
    }

    &[data-state=dragging] {
        z-index: 2;
    }

    &[class=DraftEditor-root] {
        width: 100%;
        height: 100%;
    }
}