.root {
    margin: 4px 4px 0px 4px;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.day {
    text-align: right;
    font-size: var(--day-label-font-size);
    font-weight: 300;
    padding: 4px 6px;
    color: #333;
}

.datesContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 4px;
    user-select: none; // turn off text highlighting to prevent drag bugs

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}