
.root {
    flex-grow: 1;
    padding: 2px;
    position: relative;
}

.sidenote {
    cursor: default;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 2px;
    min-width: 25px;
    min-height: 25px;
    background-color: var(--bg-greyblue);
    padding: 6px 8px;
}
.sidenote:focus {
    border: 1px solid var(--edge-blue);
    outline: 0;
    z-index: 2;
}
.sidenote:focus .borderCapture {
    pointer-events: all;
    cursor: grab;
}
.sidenote:focus .borderCapture:active {
    cursor: grabbing;
}
.sidenote:focus .borderCapture.bottomRight::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #A3D9DA;
    border-radius: 1px;
    position: relative;
    bottom: -1px;
    right: -1px;
}

.sidenote[data-state="true"] {
    cursor: auto;
    z-index: 2;
    border: 1px dashed var(--edge-blue);
}

.borderCapture {
    position: absolute;
    z-index: 2;
    pointer-events: none;
  }
  .borderCapture.top {
    height: 6px;
    width: 100%;
    top: -4px;
    left: 0px;
  }
  .borderCapture.bottom {
    height: 6px;
    width: 100%;
    bottom: -4px;
    left: 0px;
  }
  .borderCapture.left {
    width: 6px;
    height: 100%;
    left: -4px;
    top: 0px;
  }
  .borderCapture.right {
    width: 6px;
    height: 100%;
    right: -4px;
    top: 0px;
  }
  .borderCapture.bottomRight {
    height: 8px;
    width: 8px;
    bottom: -4px;
    right: -4px;
  }