.root {
    margin: 4px;
    height: 100%;
    overflow: hidden;
}

.day {
    text-align: right;
    font-size: var(--day-label-font-size);
    font-weight: 300;
    padding: 4px 6px;
    color: #333;
}

.today {
    position: absolute; 
    z-index: 3;
    top: 54px; 
    left: 16px;
}

.dates {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 42px);
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 4px;
    user-select: none; // turn off text highlighting to prevent drag bugs

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}