.tabWrapper {
    position: relative;
    &:nth-child(1) .tab {
        &::before {
            opacity: 0;
        }
    }

    &:hover, &[fp-state=open] {
        .tab::before {
            opacity: 0;
        }

        &+.tabWrapper {
            .tab::before {
                opacity: 0;
            }
        }
    }

    &[fp-drag-state=dragging] {
        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 1px;
        //     height: 18px;
        //     top: 6px;
        //     left: 0px;
        //     background-color: #8d8d8d;
        //     transition: opacity 200ms ease;
        // }

        &+.tabWrapper {
            .tab::before {
                opacity: 1;
            }
        }
    }
}

.tab {
    padding: 6px 8px 2px 6px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    transition: background-color 100ms ease;

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 18px;
        top: 6px;
        left: 0px;
        background-color: #8d8d8d;
        transition: opacity 200ms ease;
    }

    &:hover {
        background-color: #ffffff62;
    }

    &[fp-state=open] {
        cursor: auto;
        background-color: white;
        box-shadow: 0px -6px 6px rgba(7, 21, 58, 0.02);
        z-index: 2;
    }
    &[fp-drag-state=dragging] {
        z-index: 3;
    }

    .editorContainer {
        width: 100%;
        height: 22px;

        &[fp-state=normal], &[fp-state=dragging] {
            cursor: default;

            span {
                user-select: none !important;
            }
        }

        &[fp-state=normal]:hover, &[fp-state=dragging]:hover {
            border: 1px solid transparent;
        }
    }

    [class~=MuiIconButton-sizeSmall] {
        height: 18px;
        width: 18px;
        cursor: default;
    }
    [class~=MuiSvgIcon-root] {
        font-size: 17px;
    }
}

.inode {
    font-size: 14px;
    line-height: 18px;
    height: 24px;
    padding: 2px 4px 2px 4px;
    transition: background-color 50ms ease;
    display: flex;

    &:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }

    &[fp-state=open] {
        cursor: auto;
        background-color: rgba(255, 255, 255, 0.9);

        &:hover {
            background-color: rgba(255, 255, 255, 0.9);
            .inodeMenu {
                opacity: 1;
            }
        }
    }

    .inodeMenu {
        opacity: 0;
        transition: opacity 120ms ease;
    }

    &.pinboard {
    }

    &.directory {

    }

    .editorContainer {
        width: 100%;
        height: 20px;

        &[fp-state=normal], &[fp-state=dragging] {
            cursor: default;

            span {
                user-select: none !important;
            }
        }

        &[fp-state=normal]:hover, &[fp-state=dragging]:hover {
            border: 1px solid transparent;
        }
    }
}

.icon {
    height: 100%;
    width: 18px;
    display: flex;
    align-items: center;
}

.directory {
    [class~=MuiIconButton-sizeSmall] {
        transition: opacity 120ms ease;
        opacity: 0;
        pointer-events: none;
        height: 18px;
        width: 18px;
        cursor: pointer;
    }

    [class~=MuiSvgIcon-root] {
        font-size: 18px;
    }

    [class=MuiSvgIcon-root] {
        transition: transform 120ms ease;
    }

    &[fp-state=collapsed] [class=MuiSvgIcon-root] {
        transform: rotateZ(-90deg);
    }

    &[fp-state=expanded] [class=MuiSvgIcon-root] {
        transform: rotateZ(0deg);
    }
}

.editorContainer {
    overflow: hidden;
    border: 1px solid transparent;
    margin-right: 2px;
    border-radius: 2px;

    &[fp-state="edit"] {
        border: 1px solid var(--edge-grey);
    }

    span {
        white-space: nowrap !important;
    }
}

.inodeMenu {
    display: flex;
    flex-direction: column;
    &[fp-state=open] {
        opacity: 1;
    }

    &[fp-state=open]:hover [class~=MuiIconButton-sizeSmall] {
        opacity: 1;
        pointer-events: all;
        transition: opacity 420ms ease;
    }

    &[fp-state=closed] {
        [class~=MuiIconButton-sizeSmall]:nth-child(1) {
            opacity: 1;
        }
    }
    &[fp-state=open] {
        [class~=MuiIconButton-sizeSmall] {
            opacity: 1;
            margin-bottom: 6px;
            background-color: white;
        }
    }

    [class~=MuiIconButton-sizeSmall] {
        transition: opacity 120ms ease;
        opacity: 0;
        height: 18px;
        width: 18px;
        cursor: pointer;
    }
    [class~=MuiSvgIcon-root] {
        font-size: 18px;
    }
}