
#sidenote-container {
    flex-grow: 1;
    padding: 2px;
    position: relative;
}

.sidenote {
    cursor: default;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 2px;
    min-width: 25px;
    min-height: 25px;
    background-color: var(--bg-greyblue);
    padding: 6px 8px;
}
.sidenote:focus {
    border: 1px solid var(--edge-blue);
    outline: 0;
    z-index: 2;
}
.sidenote:focus .border-capture {
    pointer-events: all;
    cursor: grab;
}
.sidenote:focus .border-capture:active {
    cursor: grabbing;
}
.sidenote:focus .border-capture.bottom-right::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #A3D9DA;
    border-radius: 1px;
    position: relative;
    bottom: -1px;
    right: -1px;
}

.sidenote[editing="true"] {
    cursor: auto;
    z-index: 2;
    border: 1px dashed var(--edge-blue);
}