@import 'react-contexify/dist/ReactContexify.css';
@import 'draft-js/dist/Draft.css';

#calendar-container {
    margin: 4px;
    /* min-width: 780px; */
    /* max-width: 980px; */
    height: 100%;
}

#datenode-container {
    overflow: scroll;
    /* height: 600px; */
    height: calc(100% - 42px);
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
#datenode-container::-webkit-scrollbar {
    display: none;
}

.datenode-root {
    box-sizing: border-box;
    min-height: 28vh;
    width: calc(100% / 7);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border: 1px solid #f9f9f9;
}
.datenode-item {
    border: 1px solid transparent;
    margin: 1px;
    border-radius: 1px;
    height: 100%;
}
.datenode-item:focus {
    border: 1px solid var(--edge-blue);
    outline: 0;
}

.datenode-header {
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #333;
    max-width: 100%;
}

.datenode-label {
    /* background-color: pink; */
    border: 1px solid transparent;
    border-radius: 2px;
    flex-grow: 1;
    padding: 2px;
    margin-top: 2.3px;
    margin-right: 2px;
    font-weight: 400;
}
.datenode-label.editing {
    border: 1px solid var(--edge-grey);
}

.datenode-date {
    border-radius: 100%;
    min-width: 28px;
    flex-grow: 0 0 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
}
.datenode-date.today {
    background-color: var(--bg-greyblue);
}

li.-calendar-bg:nth-child(7n + 1) .datenode-header {
    background-color: var(--header-bg-color-1);
}
li.-calendar-bg:nth-child(7n + 2) .datenode-header {
    background-color: var(--header-bg-color-2);
}
li.-calendar-bg:nth-child(7n + 3) .datenode-header {
    background-color: var(--header-bg-color-3);
}
li.-calendar-bg:nth-child(7n + 4) .datenode-header {
    background-color: var(--header-bg-color-4);
}
li.-calendar-bg:nth-child(7n + 5) .datenode-header {
    background-color: var(--header-bg-color-5);
}
li.-calendar-bg:nth-child(7n + 6) .datenode-header {
    background-color: var(--header-bg-color-6);
}
li.-calendar-bg:nth-child(7n + 0) .datenode-header {
    background-color: var(--header-bg-color-7);
}

.plan-node {
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: var(--plan-font-size);
    position: relative;
    cursor: pointer;
}
.plan-node-content {
    padding: 2px 10px 0px 0px;
}
.plan-node:focus-within {
    border: 1px solid var(--edge-blue);
    cursor: auto;
    outline: 0;
}
.plan-node[dragging] {
    background-color: var(--bg-greyblue);
}

.plan-node.-done span {
    color: var(--content-done-true);
}

.plan-complete-toggle {
    position: absolute;
    z-index: 9;
    top: 0px;
    right: 2px;
    display: none;
}
.plan-complete-toggle-button svg {
    width: 10px;
    height: 10px;
}
.plan-node:focus-within .plan-complete-toggle {
    cursor: pointer;
    display: block;
}

.plan-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#datenode-container[drag-display] .datenode-item {
    pointer-events: none;
}

div[placeholder] {
    background-color: var(--node-focus-bg-color);
    border-radius: 8px;
}