@import 'draft-js/dist/Draft.css';

#calendar-container {
    margin: 4px;
    height: 100%;
    overflow: hidden;
}

#datenode-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 42px);
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 4px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
#datenode-container::-webkit-scrollbar {
    display: none;
}

.datenode-root {
    box-sizing: border-box;
    min-height: 28vh;
    width: calc(100% / 7);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border: 1px solid #f9f9f9;
}
.datenode-item {
    border: 1px solid transparent;
    margin: 1px;
    border-radius: 1px;
    height: 100%;
}
.datenode-item:focus {
    border: 1px solid var(--edge-blue);
    outline: 0;
}

.datenode-header {
    font-weight: 300;
    font-size: var(--datenode-header-font-size);
    display: flex;
    justify-content: space-between;
    color: #333;
    max-width: 100%;
}

.datenode-label {
    /* background-color: pink; */
    border: 1px solid transparent;
    border-radius: 2px;
    flex-grow: 1;
    padding: 2px;
    margin-top: 2.3px;
    margin-right: 2px;
    font-weight: 400;
}
.datenode-label.editing {
    border: 1px solid var(--edge-grey);
}

.datenode-date {
    border-radius: 100%;
    min-width: 28px;
    flex-grow: 0 0 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
}
.datenode-date.today {
    background-color: var(--bg-greyblue);
}

li.-calendar-bg:nth-child(7n + 1) .datenode-header {
    background-color: var(--header-bg-color-1);
}
li.-calendar-bg:nth-child(7n + 2) .datenode-header {
    background-color: var(--header-bg-color-2);
}
li.-calendar-bg:nth-child(7n + 3) .datenode-header {
    background-color: var(--header-bg-color-3);
}
li.-calendar-bg:nth-child(7n + 4) .datenode-header {
    background-color: var(--header-bg-color-4);
}
li.-calendar-bg:nth-child(7n + 5) .datenode-header {
    background-color: var(--header-bg-color-5);
}
li.-calendar-bg:nth-child(7n + 6) .datenode-header {
    background-color: var(--header-bg-color-6);
}
li.-calendar-bg:nth-child(7n + 0) .datenode-header {
    background-color: var(--header-bg-color-7);
}

.plan-node {
    box-sizing: border-box;
    position: relative;
    cursor: default;
}
.plan-node[state^="edit"] {
    cursor: auto;
}

.plan-node div[fp-role="content"] {
    padding: 2px 12px 2px 2px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all 200ms ease;
    font-size: var(--plan-font-size);
    position: relative;
}
.plan-node[state="normal"]:hover div[fp-role="content"] {
    box-shadow: 0px 0px 12px rgba(7, 21, 58, 0.05);
}
.plan-node[state^="edit"] div[fp-role="content"] {
    background-color: white;
    z-index: 2;
}


.plan-node div[fp-role="content"] div[fp-role="toggle-container"] {
    position: absolute;
    z-index: 0;
    top: 0px;
    right: -8px;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease, right 300ms ease;
}
.plan-node:hover div[fp-role="content"] div[fp-role="toggle-container"] {
    opacity: 1;
    pointer-events: all;
    right: 4px
}
.plan-node[state^="edit"] div[fp-role="content"] div[fp-role="toggle-container"] {
    opacity: 1;
    pointer-events: all;
    right: 4px
}
.plan-node div[fp-role="content"] div[fp-role="toggle-container"] span[fp-role="toggle-button"] {
    display: flex;
}
span[fp-role="toggle-button"] svg {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.plan-node div[fp-role="edit-panel"] {
    height: calc(100% + 60px);
    width: calc(100% + 16px);
    background-color: rgba(240, 240, 240, 0.8);
    position: absolute;
    top: -32px;
    left: -8px;
    z-index: 2;
    border-radius: 4px;
    cursor: grab;
}
div[fp-role="edit-panel"] div[fp-role="styling"] {
    display: flex;
    position: absolute;
    top: 6px;
    left: 5px;
    justify-content: space-between;
}
div[fp-role="edit-panel"] div[fp-role="delete-icon"] {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    right: 4px;
    cursor: pointer;
}
div[fp-role="edit-panel"] div[fp-role="styling"] div[fp-role="icon"] {
    height: 22px;
    width: 22px;
    margin: 0px 3px;
    border-radius: 100%;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div[fp-role="edit-panel"] div[fp-role="styling"] div[fp-role="icon"] svg {
    height: 100%;
    width: 100%;
}
div[fp-role="edit-panel"] div[fp-role="styling"] div[fp-role="icon"][state="inactive"] {
    color: #365050;
    background-color: white;
}
div[fp-role="edit-panel"] div[fp-role="styling"] div[fp-role="icon"][state="active"] {
    color: #098899;
    background-color: #ebf5f7;
}


div[fp-role="edit-panel"] div[fp-role="delete-icon"] svg {
    height: 100%;
    width: 100%;
    color: #8ca1a1b0;
}

div[fp-role="edit-panel"]  div[fp-role="labels-anchor"] {
    position: absolute;
    bottom: 22px;
    right: 8px;
    height: 1px;
    width: 60%;
    min-width: 100px;
    cursor: default;
}
div[fp-role="edit-panel"]  div[fp-role="labels"] {
    position: absolute;
    top: 0;
    border-radius: 2px;
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 12px rgba(240, 240, 240, 0.8);
}
div[fp-role="edit-panel"] div[fp-role="label"] {
    position: relative;
    width: 100%;
    padding: 1px 22px 1px 2px;
    box-sizing: border-box;
}
div[fp-role="edit-panel"] div[fp-role="label"] div[fp-role="header"] {
    font-size: 10px;
}
div[fp-role="edit-panel"] div[fp-role="label"] div[fp-role="color-pickers"] {
    display: flex;
    position: absolute;
    right: 2px;
    top: 3px;
    width: 18px;
    justify-content: space-between;
}
div[fp-role="edit-panel"] div[fp-role="label"] div[fp-role="picker"] {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    cursor: pointer;
}

div[fp-role="edit-panel"]  div[fp-role="labels-anchor"] div[fp-role="edit"] {
    font-size: 8px;
    color: rgb(46, 141, 133);
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    padding: 2px 2px;
}



.plan-node[state="dragging"] {

}
.plan-node[dragging] {
    background-color: var(--bg-greyblue);
    width: 100%;
    left: 0;
    transition: all 0ms ease;
}

.plan-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#datenode-container[drag-display] .datenode-item {
    pointer-events: none;
}

div[placeholder] {
    background-color: var(--node-focus-bg-color);
    border-radius: 8px;
}